{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":1,"position":1,"stack":[[{"start":{"row":4,"column":12},"end":{"row":4,"column":13},"action":"remove","lines":["2"],"id":1}],[{"start":{"row":4,"column":12},"end":{"row":4,"column":13},"action":"insert","lines":["3"],"id":2}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":4,"column":13},"end":{"row":4,"column":13},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1567258531005,"hash":"35361ae8c9c92961588724661ea960e1f07497eb"}