{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":3,"position":3,"stack":[[{"start":{"row":4,"column":12},"end":{"row":4,"column":13},"action":"remove","lines":["2"],"id":1}],[{"start":{"row":4,"column":12},"end":{"row":4,"column":13},"action":"insert","lines":["3"],"id":2}],[{"start":{"row":4,"column":12},"end":{"row":4,"column":13},"action":"remove","lines":["3"],"id":3}],[{"start":{"row":4,"column":12},"end":{"row":4,"column":13},"action":"insert","lines":["1"],"id":4},{"start":{"row":4,"column":13},"end":{"row":4,"column":14},"action":"insert","lines":["1"]}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":4,"column":14},"end":{"row":4,"column":14},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1567260915485,"hash":"9a8bb063c066705da87e5bd11dd77797fc804de0"}